* {
    margin: 5;
    padding: 5;
    font-family: 'Segoe UI', Verdana, sans-serif;
  }

 body{
   background-image: url("../images/cocktails.png");
   background-color: lightgrey;
   }

  main {
  display: flex;
  justify-content: center;
  }

  .m-3{
      background-color: lightslategray;
      width: 300px;
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 12px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      box-shadow: 5px 10px;
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }

  .container-fluid{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      list-style: none;
    }

 .card-body{
     font-size: 18px;
     margin: 5px 0;
     }